.root {
    -fx-background-image: url("../image/BlkBackground.jpg");
    -fx-background-size: cover;
}

#buttonPane {
    -fx-background-color: #141414;
    -fx-border-color: #000000;
    -fx-border-width: 1 0 0 0;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#DC143C, #FF8C00);
}

.button:hover {
    -fx-background-color: linear-gradient(#8B0000, #FF4500);
}

.text-field {
    -fx-border-color: red;
}

#topText, #botText {
    -fx-stroke: #000000;
    -fx-fill: #FFFFFF;
    -fx-stroke-width: 2;
}